body {
	padding: 0; 
	margin: 0;
	font-family: "arial", "sans-serif";
} 

canvas {vertical-align: top;}

.buttons_div{
	width: 100%;
	background-color: gray;
	padding: 2px;
	border-radius: 2px;
}

strong {
	/*color:white;*/
	text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
	/*background-color: blue;*/
	/*border-radius: 5px;*/
}

button {
	float: left;
	background-color: lightblue;
	border-radius: 3px;
	/*width:20%;*/
	font-size: 3vw;
	border-radius: 3px;
}

button hover {
	background-color: blue;
}

.panel {
	background-color: #A0D0F0;
	float: left;
	width: 30%;
	height:100%;
	border-radius: 5px;
	/*margin: 3px;*/
	padding: 3px;
	margin-right: 3px;
}

.container {
	background-color: #A0A0A0;
	float: left;
	width: 98%;
	border-radius: 5px;
	margin-bottom:3px;
	padding: 3px;
	color: white;
}

.simple-list {
  list-style:none;
  padding-left:0;
  float:left;
}

.simple-list-item {
  /*list-style:none;*/
  padding-left:0;
  float:left;
  width: 100%;
  color: orange;
}

.specialTest {
	background-color: yellow;
}

.subtitle {
	font-size: 3vw;
}

.spanh3 {
	font-size: 4vw;
	color: blue;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}